<th:block th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8"/>

    <!--Libraries-->
    <script src="/js/lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/lib/jquery-ui/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/css/lib/jquery-ui/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="/css/lib/jquery-ui/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="/css/lib/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/lib/fontawesome/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="/css/lib/fontawesome/css/solid.min.css"/>
    <link rel="stylesheet" href="/css/lib/fontawesome/css/regular.min.css"/>
    <link rel="stylesheet" href="/css/lib/hover/hover-min.css"/>
    <!--Userscripts-->
    <script src="/js/common.js"></script>
    <link rel="stylesheet" href="/css/common.css"/>
</th:block>
